.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cell {
  border: 1px solid #595959;
  font-size: 0;
}

.on {
  background-color: #741515;
}
.off {
  background-color: #d86a6a;
}
